/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and below) */
@media (min-width: 1px)
{
	.navbar-brand
	{
		border: 2px solid yellow;
		margin-right: 100px;
	}
	.header-container
	{
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-image: url('../img/web-1012467_1920.jpg');

	}
	.header
	{
		min-height: 250px;
		box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.2);
	}
	.navbar-light .navbar-nav .nav-link
	{
		color: rgb(255,255,255,1);
	}
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link
	{
		color: rgb(255,255,255,0.5);
	}
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover
	{
		color: rgb(255,255,255,0.5);
		transition: color 0.5s ease;
	}
	.dropdown-item:focus, .dropdown-item:hover
	{
		background-color: transparent;
		color: #8D8D8D;

	}
	.navbar-light .navbar-toggler
	{
		border-color: rgb(0,0,0,1);
	}
	.navbar-toggler-icon
	{
		color: rgb(0,0,0,1);
	}
	.dropdown-menu
	{
		background-color: rgb(255,255,255,1);
		border: none;
		display: none;
	}
	.dropdown-item
	{
		color: black;
	}
	.content
	{
		margin-bottom: 50px;
	}
	.content-widget
	{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 15px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.content-widget:hover
	{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		cursor: pointer;
		transition: box-shadow 0.1s ease-in;
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	.footer
	{
		color: #DAD9D9;
		background-color: #a02f7d;
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px)
{
	.navbar-brand
	{
		border: 2px solid red;
	}
	.content-widget
	{
		display: inline-block;
		width: 480px;
		margin: 3%;
		align-items: flex-start;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	.content-widget:hover
	{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		cursor: pointer;
		transition: box-shadow 0.1s ease-in;
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
	.content-widget img:hover
	{
		transform: scale(1.01);
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px)
{
	.navbar-brand
	{
		border: 2px solid blue;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)	
{
	.navbar-brand
	{
		border: 2px solid green;
	}
}

html,body
{
	margin: 0px;
	height: 100%;
	font-family: arial;
}
.wrapper
{
	min-height: 100%;
	-webkit-transition: all 1s;
}
.footer
{
	margin-top: -50px;
	box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.2);
}